@import url("https://fonts.googleapis.com/css?family=Roboto:300");
html,
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;  
}
a {
  display: inline-block;
  color: lightgrey;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  white-space: nowrap;
  padding: 12px;
  border: 1px solid white;
  border-radius: 30px;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
}
.container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5rem;
  gap:1rem
}
.cart-items{
  width: 80%;
}
.cart-card{
  background-color: green;
  padding: 1rem;
  width: 20%;
  text-align: center;
}
.cart-items>li{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  width: 100%;
}
.cart-items>li>*{
  background-color: red;
  padding: 1rem;
  text-align: center;
}
.product>span{
  line-height: 100px;
}
.product-name{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.product-name>img{
  height: 105px;
  width: 108px;
}
a:hover {
  background: rgba(0, 0, 0, 0.23);
  color: white;
  transform: scale(1.03);
  text-decoration: none;
}
a:active {
  transform: scale(0.98);
}

